In [1]:
import numpy as np

marks=np.array([[78,85,90],[45,60,55],[88,92,95],[30,40,35],[65,70,75]])
print(marks)

[[78 85 90]
 [45 60 55]
 [88 92 95]
 [30 40 35]
 [65 70 75]]

In [6]:
# Task A1
print(marks.shape)
print(marks.size)
print(marks.dtype)

# task A2
#  marks o 2nd student

print(marks[1:2])
# marks o 3rd subject all students

print(marks[:,2:])
# student 1 subject 2 marks

print(marks[0:1,1:2])

(5, 3)
15
int64
[[45 60 55]]
[[90]
 [55]
 [95]
 [35]
 [75]]
[[85]]

In [9]:
# task b1
# ag marks o each student and subject

print(marks.mean(axis=1))
print(marks.mean(axis=0))

[84.33333333 53.33333333 91.66666667 35.         70.        ]
[61.2 69.4 70. ]

In [21]:
# task b2
d=np.where(((marks.mean(axis=1))>=80),marks,0)
print(d)
# error

ValueError: operands could not be broadcast together with shapes (5,) (5,3) ()

In [18]:
# task c1
status_matrix=np.where(marks>=50,1,0)
print(status_matrix)

# task c2

marks_cleaned=np.where(marks<40,0,marks)
print(marks_cleaned)

[[1 1 1]
 [0 1 1]
 [1 1 1]
 [0 0 0]
 [1 1 1]]
[[78 85 90]
 [45 60 55]
 [88 92 95]
 [ 0 40  0]
 [65 70 75]]

In [ ]:
# task d1

# grade allocation based on student ag
# ag>=85 grade a score 10
# ag>=70 grade b score 8
# ag>50 grade c score 6
# below 50 grade = no grade score =0